 <h1>Shopping Cart</h1>  
   {{#each basket}}
   <form data-id='{{this.id}}'>
       <div class='col-6'>
          <div class="p-2 border" >
              <img class = "picture" src="{{this.photo}}" alt="picture">
              <h1 id="name">{{this.name_guitar}}, {{this.price}}</h1>
              <button  data-id='{{this.id}}' id='button_delete' class='button_delete'>Удалить</button>           
          </div>                  
       </div>   
    </form>
   {{/each}}
            
  